@font-face {
    font-family: Bubble;
    font-weight: normal;
    src: url(../fonts/JandaManateeSolid.ttf);
}

@font-face {
  font-family: Bebas;
  font-weight: bold;
  src:url(../fonts/bebas/BebasNeue\ Bold.otf);
}

body {
  margin: 0;
  /* background-color: rgb(43, 36, 100); */
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.UI-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* 384 x 114 */
.round {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url('../images/round.jpg');
  background-size: 100% 100%;
  border-bottom-right-radius: 2px;
}

.round p {
  color: yellow;
  padding-right: 2vw;
  text-align: center;
  font-size: 3vw;
  font-family: Bubble;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* 768 x 114 */
.score-board {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  background-color: grey;
}

/* 384 x 114 */
.timer {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-image: url('../images/timer.jpg');
  background-size: 100% 100%;
  border-bottom-left-radius: 2px;
}

.timer p {
  color: yellow;
  text-align: center;
  font-size: 3vw;
  font-family: Bubble;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* 384 x 171 */
.score {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background-color: rgb(26, 23, 32);
  font-family: Bubble;
  color: rgb(93, 239, 63);
  font-size: 4vw;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.team1 {
  grid-column: 1 / 2;
  grid-row: 3 / 7;
  background-color: blue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "player1"
    "player2"
    "player3"
    "player4";
}

.t1Player1 {
  grid-area: player1;
  font-family: Bubble;

  background-color: red;
}

.t1Player2 {
  grid-area: player2;
  background-color: yellow;
}

.t1Player3 {
  grid-area: player3;
  background-color: orange;
}

.t1Player4 {
  grid-area: player4;
  background-color: green;
}

.team2 {
  grid-column: 7 / 8;
  grid-row: 3 / 7;
  background-color: blue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "player1"
    "player2"
    "player3"
    "player4";
}

.t2Player1 {
  grid-area: player1;
  background-color: red;
}

.t2Player2 {
  grid-area: player2;
  background-color: yellow;
}

.t2Player3 {
  grid-area: player3;
  background-color: orange;
}

.t2Player4 {
  grid-area: player4;
  background-color: green;
}

.taboo-card {
  grid-column: 4 / 5;
  grid-row: 3 / 7;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main"
    "ban1"
    "ban2"
    "ban3"
    "ban4"
    "ban5";
  border: .6em solid rgb(54, 57, 62);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.main-word {
  grid-area: main;
  background-color: rgb(240,106, 114);
  font-size: 2vw;
  font-family: Gadget;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
}

.banned-word1 {
  grid-area: ban1;
  background-color: white;
}

.banned-word2 {
  grid-area: ban2;
  background-color: white;
}

.banned-word3 {
  grid-area: ban3;
  background-color: white;
}

.banned-word4 {
  grid-area: ban4;
  background-color: white;
}

.banned-word5 {
  grid-area: ban5;
  background-color: white;
}

.card-header {
  background-color: blue;
  background-color: white;
}

.card-font {
    font-size: 1.5vw;
    font-family: verdana;
}

.current-player {
  grid-column: 4 / 5;
  grid-row: 7 / 9;
}

.current-player button {
  display: none;
}

.current-player h3 {
  background-color: rgb(26, 23, 32);
  font-family: Bubble;
  color: rgb(93, 239, 63);
  font-size: 4vw;
  padding: 5px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#currentPlayer {
  /* display: none; */
}

.center-in-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.players-design p {
  font-family: Bubble;
  font-size: 2vw;
  color: white;
}
